* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(214, 17%, 92%);
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
}

#testimonial-grid-container {
  padding: 5% 3%;
}

#testimonial-1 {
  background-color: hsl(263, 55%, 52%);
  color: hsl(214, 17%, 92%);
  position: relative;
  z-index: 0;
}

#testimonial-2 {
  background-color: hsl(217, 19%, 35%);
  color: hsl(214, 17%, 92%);
}

#testimonial-3 {
  background-color: hsl(0, 0%, 100%);
  color: hsl(217, 19%, 35%);
}

#testimonial-4 {
  background-color: hsl(219, 29%, 14%);
  color: hsl(214, 17%, 92%);
}

#testimonial-5 {
  background-color: hsl(0, 0%, 100%);
  color: hsl(217, 19%, 35%);
}

.grid-item p {
  opacity: 70%;
}
.grid-item h4 {
  margin-bottom: 15px;
  font-weight: 600;
}

.grid-item .name {
  opacity: 100%;
  font-size: 1rem;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  z-index: 3;
  position: relative;
}

.header img {
  border-radius: 50%;
  margin-right: 10px;
}

.grid-item {
  margin-bottom: 10px;
  padding: 30px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  font-size: 13px;
}


#testimonial-1 img {
  border: 3px hsl(264, 82%, 80%) solid;
}

#testimonial-4 img {
  border: 3px hsl(263, 55%, 52%) solid;
}

#quote {
  position: absolute;
  right: 15%;
  top: 0px;
  z-index: 1;
  
}

@media (min-width: 576px) {
  #testimonial-grid-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  #testimonial-grid-container,
  #top-container,
  #bottom-container,
  #main-left {
    display: flex;
  }

  #testimonial-1,
  #testimonial-4 {
    flex-basis: 65%;
  }

  #testimonial-2,
  #testimonial-3 {
    flex-basis: 35%;
  }

  #testimonial-5 {
    flex-basis: 20%;
  }

  #top-container,
  #bottom-container {
    flex-basis: 50%;
  }

  #main-left {
    flex-direction: column;
    flex-basis: 80%;
  }

  #main-left .grid-item {
    margin-right: 20px;
  }
}